<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.gyojincompany.home.dao.ProfileDao">
	
	<!-- 회원관리 -->
	
	<insert id="memberJoinDao">
		INSERT INTO pmember(mid, mpw, mname, memail) VALUES(#{param1}, #{param2}, #{param3}, #{param4})
	</insert>
	
	<select id="joinIdCheckDao" resultType="int">
		SELECT count(*) FROM pmember WHERE mid=#{param1}
	</select>
	
	<select id="loginOkDao" resultType="int">
		SELECT count(*) FROM pmember WHERE mid=#{param1} AND mpw=#{param2}
	</select>
	
	<select id="getMemberInfo" resultType="com.gyojincompany.home.dto.MemberDto">
		SELECT * FROM pmember WHERE mid=#{param1}
	</select>
	
	<update id="memberModify">
		UPDATE pmember SET mpw=#{param2}, mname=#{param3}, memail=#{param4} WHERE mid=#{param1}
	</update>
	
	<!-- 게시판 관리 -->
	
	<insert id="writeDao">
		INSERT INTO pboard(qnum, qid, qcontent) VALUES(pboard_seq.nextval, #{param1}, #{param2}) 
	</insert>
	
	<select id="listDao" resultType="com.gyojincompany.home.dto.BoardDto">
		SELECT * FROM
			(SELECT A.*, FLOOR(((ROWNUM-1)/#{param1})+1)PAGE, ROWNUM
				FROM
					(SELECT * FROM pboard ORDER BY qnum DESC)A)
						WHERE page=#{param2}
	</select>
	
	<select id="questionViewDao"  resultType="com.gyojincompany.home.dto.BoardDto">		
		SELECT * FROM pboard WHERE qnum=#{param1}
	</select>
	
	<select id="boardTotalCountDao" resultType="int">
		SELECT count(*) FROM pboard
	</select>
	
	<delete id="deleteDao">
		DELETE FROM pboard WHERE qnum=#{param1}
	</delete>
	
</mapper>	